@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
}

.content-input {
  padding: 0 1% 1% 1%;
}

.content-input , .content-buttons, #data-input{
  width: inherit;
}

#input-excel {
  width: 27%;
  appearance: none;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin:0;
  font-weight: 400;
  padding: 0.5%;
}

#data-input {
  width: 28%;
  padding: 0.5%;
  text-align: center;
  margin: 0 0 1.2% 0;
  border-radius: 10px;
}

.content-input input {
  margin: 0.1% 0.8%;
  padding: 0.8% 0;
  text-align: center;
}

.content-input-header{
  margin: 0.1% 0.8%;
  padding: 0.5%;
}

.content-input span {
  padding: 2% 5%;
}

#myGraph{
  display: flex;
  margin: 2% 30%;
  flex-direction: row;
}

table {
  border: 1px solid black;
  margin: 2% auto;
  text-align: center;
  border-collapse: collapse;
}

table tr td {
  border: 1px solid black;
  padding: 10px 80px;
}

th {
  border: 1px solid black;
  padding: 10px 80px;
  background-color: #908c38;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
