<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linear Regression Excel</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
  </head>
  <body>
    <div id="content" class="content">
      <input type="file" id="input-excel" name="input-excel" />
      <label  for="input-excel" class="upload-icon">
        <i class="fa-solid fa-file-arrow-up"></i>
        <p id="info-excel">Seleccioné un archivo</p>
      </label>
      <div id="table-content" class="table-content"></div>
      <div id="table-content-data" class="table-content-anova"></div>
      <div id="table-content-anova" class="table-content-anova"></div>
      <canvas id="myGraph" class="myGraph hidden"></canvas>
      <div id="form-calX"></div>
      <div id="form-calY"></div>
    </div>
    <script type="module" src="../js/Main.js"></script>
  </body>
</html>
